<!DOCTYPE html>
<head>
    <title>WebScanner</title>
    <link rel="stylesheet" type="text/css" href="css/home.css"/>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a href="/">Home</a>
            <a href="/Archive">Archive</a>
        </div>
        <div class="scans">
            <div class="scansRow" id="scansRow">
            {{#if scans}}
                {{#each scans}}
                <div class="scan c{{this.usageStatus}}" id="{{this.id}}">
                    <h4>{{this.status}}</h4>
                    <h4>{{this.time}}</h4>
                    {{#if (hasUserName userName)}}
                    <h4>{{this.userName}}</h4>
                    {{/if}}
                </div>
                {{/each}}
            {{/if}}
            </div>
        </div>
        <div class="scanInfo" id="scanInfo">

        </div>
    </div>
    <script type="text/javascript" src="js/ws.js"></script>
</body>

</html>